:root {
    --text-color: #1d263a;
    --background-color: rgba(250, 229, 218, 0.4);
    --orange-color: #ff794d;
    --secondary-color: #20bfa9;
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 800;
    --white-color: #fff;
    --black-color: #000;
}  